* {
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}
em {
  font-style: normal;
}
a {
  text-decoration: none;
  color: #b5b5b5;
}
.LTT_logo_black {
  width: 100%;
  height: 170px;
  background-color: #f6e124;
  border: 1px solid  #f6e124;
}
.LTT_logo_black .LTT_logo_box {
  width: 150px;
  height: 150px;
  margin: 60px auto;
  border-radius: 100%;
}
.LTT_logo_black .LTT_logo_box img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.LTT_infro_div {
  border-bottom: 2px solid #b5b5b5;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5px;
  font-size: 20px;
}
.LTT_infro_div .LTT_infro_icon {
  width: 30px;
  height: 30px;
  float: left;
  margin-top: 10px;
}
.LTT_infro_div .LTT_infro_icon img {
  width: 100%;
  height: 100%;
}
.LTT_infro_div .LTT_infro_input {
  width: 84%;
  height: 50px;
  float: left;
  margin-left: 2%;
  color: #282828;
  font-size: 20px;
  box-sizing: border-box;
  text-align: center;
  border: none;
  outline: medium;
}
.LTT_login_submit {
  width: 90%;
  height: 45px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  font-size: 24px;
  background-color: #f6e124;
  margin-top: 50px;
  border: none;
  outline: medium;
  color: #434343;
}
.LTT_pass_register {
  width: 100%;
  margin-top: 30px;
}
.LTT_pass_register li {
  width: 50%;
  font-size: 14px;
  color: #b5b5b5;
  list-style: none;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
}
.LTT_pass_register li:nth-of-type(1) {
  float: left;
  border-right: 1px solid #b5b5b5;
}
.LTT_pass_register li:nth-of-type(1) em {
  float: right;
  margin-right: 50px;
}
.LTT_pass_register li:nth-of-type(2) {
  float: right;
  padding-left: 50px;
}
